* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
  text-decoration: none;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #fffdea;
}

/* Header Styling */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #333;
  color: #fff;
  /* position: sticky; */
  top: 0;
  background-color: #333;
}

.logo {
  font-size: 2.4rem;
  font-family: "Beau Rivage";
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #fff;
}

.menu a:hover {
  border-bottom: 3px solid #fff;
  padding-bottom: 38px;
}

/* Button Styling */

/* Hero Styling */

.main {
  /* display: flex;
  justify-content: center; */
  gap: 10px;
  padding: 50px 50px 100px;
  margin: 0 200px 50px;
  border-bottom: 1px solid #333;
}

.tag a {
  color: #c9bb01;
  font-weight: bold;
}

.tag {
  font-style: italic;
  color: #5d5e4cb9;
}

.main h2 {
  margin-bottom: 5rem;
  margin-top: 2rem;
  text-align: left;
  font-size: 3rem;
  line-height: 0.9;
}
.main h3 {
  margin: 1rem 0;
  font-style: italic;
  font-weight: 500;
}

.main p {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.first-letter {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Beau Rivage";
}

.image-main img {
  margin-top: 1rem;
  height: auto;
  margin-left: 200px;
}

/* Carousel styling */

.wrapper img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  overflow: hidden;
  height: 100vh;
  margin: 0 200px;
}

.gallery {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-height: 100vh;
  object-fit: cover;
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;
}

.lil-nav a {
  height: 200px;
  display: flex;
  margin-bottom: 10px;
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}

.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

/* Footer Styling */

.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #919bb3, #606c88);
  background: linear-gradient(to right, #0f0f11, #d5d6a4);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.form div button {
  color: #000000;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: #d5d6a4;
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.form div button:hover {
  background-color: #000000;
  transition: 0.5s ease-in-out;
  color: #fff;
}

/* Buttons */

.scroll-button1 {
  position: fixed;
  margin: 50px;
  bottom: 20px;
  right: -25px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-button2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-button1:hover,
.scroll-button2:hover {
  opacity: 0.7;
}
